<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hatstick.flashcardium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hatstick.flashcardium.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hatstick.flashcardium.FlashCardActivity"
            android:label="@string/title_empty_deck" >
        </activity>
        <activity
            android:name="com.hatstick.flashcardium.NewCardActivity"
            android:label="@string/title_new_card"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.hatstick.flashcardium.CreateDeckActivity"
            android:label="@string/title_new_deck"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <!-- All Database Activity -->
        <activity
            android:name="com.hatstick.flashcardium.AllCardsActivity"
            android:label="All Cards" >
        </activity>
        <activity
            android:name="com.hatstick.flashcardium.EditDeckActivity"
            android:label="@string/title_activity_edit_deck" >
        </activity>
    </application>

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>